---
import ProductModal from "../components/ProductModal.astro";
import Page from "../layout/Page.astro"

---

<Page type='complete'>
    <label for="product-modal" class="btn">open modal</label>
<ProductModal/>
</Page>