---
import ItemCard from "../components/ItemCard.astro";
import ProductModal from "../components/ProductModal.astro";
import { SideBarFilter } from "../components/SideBarFilter";
import Page from "../layout/Page.astro";
import data from '../globalData.json'
import Settings from "../components/Settings.astro";
import SetPass from "../components/SetPass.astro";
import SetBil from "../components/SetBil.astro";
const { products } = data;
---

<Page type='complete'>
    <Settings />
    <SetPass/>
    <SetBil/>
    <SideBarFilter/>
    <div class="flex flex-row flex-wrap ml-80 mt-4">
        {products.map((product) => {
            var _product = {
                ...product,
                producer: {}
            };
            _product.id = product.id;
            _product.name = product.name;
            _product.price = product.price;
            _product.producer = data.producers.find((producer) => producer.id === product.producer);
            return <ItemCard product={_product}/>
        })}
        </div>
</Page>