---
import ItemCard from "../components/ItemCard.astro";
import ProductModal from "../components/ProductModal.astro";
import { SideBarFilter } from "../components/SideBarFilter";
import Page from "../layout/Page.astro"
---

<Page type='complete'>
    <ProductModal/>
    <SideBarFilter/>
    <div class="flex flex-row flex-wrap ml-80 mt-4">
        <ItemCard/>
        <ItemCard/>
        <ItemCard/>
        <ItemCard/>
        <ItemCard/>
        <ItemCard/>
    </div>
</Page>