---
import SignupModal from "../components/SignupModal.astro";
import Page from "../layout/Page.astro";
---

<Page type='simple'>
    <div class="hero min-h-screen bg-landing bg-center bg-cover">
        <div class="hero-content flex-col lg:flex-row lg:justify-between overflow-clip w-full mx-40">
            <div
                class="absolute left-0 w-[1000px] h-[500px] bg-black bg-opacity-30 rounded-full -translate-x-1/3 blur-3xl"
            >
            </div>
            <div class="text-center lg:text-left z-10 mb-14">  
                <div class="relative inline-block">
                    <h1 class="text-8xl font-bold text-primary inline">
                        Farm
                    </h1><h1 class="text-8xl font-bold text-[#5e4628] inline">
                    ly
                    </h1>
                </div>
                <p class="py-6 text-white">
                    Experience the taste of the countryside <br> with Farmly
                </p>
            </div>
            <div
                class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100"
            >
                <div class="card-body">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Email</span>
                        </label>
                        <input
                            type="text"
                            placeholder="email"
                            class="input input-bordered"
                        />
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input
                            type="password"
                            placeholder="password"
                            class="input input-bordered"
                        />
                        <label class="label">
                            <a href="#" class="label-text-alt link link-hover"
                                >Forgot password?</a
                            >
                        </label>
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary">Login</button>
                        <label for="my-modal" class="link-primary underline text-center mt-4 cursor-pointer hover:scale-105 transition-all duration-200">Sign up</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <SignupModal />
</Page>
