

<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Checkout</h3>
    <h5 class="py-4">Adress: </h5>
    <h6>Rua das escolas Nº5</h6>
    <h5 class="py-4">Payment: </h5>
    <div class="row">
        <img src="https://logodownload.org/wp-content/uploads/2016/10/visa-logo-8.png" alt="visa.png" height="19px" width="29px" class="align-left" >
        <p class="align-right">Visa **********5678</p>
    </div>
    <div class="modal-action">
      <label for="my-modal" class="btn">Complete Order</label>
    </div>
  </div>
</div>