<div class="card ml-5 mt-5 bg-base-100 shadow-xl" style="width: 600px; height: 763px;">
    <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
    <div class="card-body">
        <div>
            <h2 class="card-title">
                Shoes!
              </h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <div class="badge badge-outline border-yellow-500 text-yellow-500">Fashion</div> 
                <div class="badge badge-outline border-sky-600 text-sky-600">Products</div>
              </div>
        </div>

        <div>
            <h3>Produto</h3>
        </div>
        <div class="card-actions justify-center">
            <button class="btn btn-primary h-14" style="width: 300px; margin-bottom: 5px;">Add to cart</button>
        </div>
    </div>
  </div>