<!-- The button to open modal -->
<label for="RePr" class="btn">Register</label>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="RePr" class="modal-toggle" />
<div class="modal">
  <div class="modal-box w-11/12 max-w-5xl h-auto">
    <div class="row">
        <h1 class="font-extrabold text-3xl ml-10">Register</h1>
        <label for="RePr" class="btn btn-sm btn-circle absolute right-6 top-6">x</label>
        <hr class="bg-lime-800 mt-2">
      </div>
      <div class="row">
        <div>
            <div class="form-control m-auto mt-4">
                <input class="w-40 h-40" type="button" style="border-radius: 50%; border-color: black; border-width: 1px; margin: auto;">
                <button class="btn btn-primary text-xs w-36 m-auto mt-3 mb-4" style="height: 10px; border-radius: 20px;">Change photo</button>
            </div>
      </div>
      <div class="row">
        <div class="form-control float-left ml-20">
            <label class="label w-14">
                <span class="label-text">Name</span>
            </label>
            <input type="text" placeholder="Name" class="input input-bordered h-10 w-80"/>
          
          </div>
          <div class="form-control float-left ml-36">
            <label class="label w-14">
              <span class="label-text">Surname</span>
            </label>
            <input type="text" placeholder="Surname" class="input input-bordered h-10 w-80">
          </div>
        <div class="row">
            <div class="form-control float-left ml-20 mt-2">
                <label class="label w-24">
                    <span class="label-text">Birth Date</span>
                </label>
                <input type="text" placeholder="00/00/00" class="input input-bordered h-10 w-80"/>
                
                </div>
                <div class="form-control float-left ml-36 mt-2">
                <label class="label w-14">
                    <span class="label-text">Country</span>
                </label>
                <input type="text" placeholder="Country" class="input input-bordered h-10 w-80">
                </div>
        <div class="row">
            <div class="form-control float-left ml-20 mt-2">
                <label class="label w-36">
                    <span class="label-text">Email Address</span>
                </label>
                <input type="email" placeholder="abc@def.hi" class="input input-bordered h-10" style="width: 700px;"/>
                
                </div>
                <div class="form-control float-left ml-20 mt-2">
                <label class="label w-14">
                    <span class="label-text">Address</span>
                </label>
                <input type="text" placeholder="Address" class="input input-bordered h-10" style="width: 700px;">
            </div>
        </div>
        <div class="row">
            <div class="form-control float-left ml-20 mt-2 mb-4">
                <label class="label w-32">
                    <span class="label-text">About</span>
                </label>
                <textarea class="textarea-bordered" placeholder="Write something about yourself or your business" style="height: 150px; width: 650px; border-color: lightslategray; border-width: 1px; border-radius: 10px;"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-control float-left ml-20">
                <label class="label w-44">
                    <span class="label-text">Create a Password</span>
                </label>
                <input type="password" placeholder="Password" class="input input-bordered h-10 w-80"/>
              
              </div>
              <div class="form-control float-left ml-36 mb-7">
                <label class="label w-44">
                  <span class="label-text">Confirm the Password</span>
                </label>
                <input type="password" placeholder="Confirm the Password" class="input input-bordered h-10 w-80">
              </div>
    </div>
    <div class="row w-96 m-auto">
        <div class="form-control m-auto w-44 ">
            <button class="btn btn-primary">Register</button>
        </div>
    </div>
    </div>
  </div>
  </div>
</div>
</div>