<!-- The button to open modal -->
<label for="SetPass" class="btn">open modal</label>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="SetPass" class="modal-toggle" />
<div class="modal">
  <div class="modal-box w-11/12 max-w-5xl" style="height: 600px;">
    <div class="h-full float-left bg-lime-900 ml-0">
      <ul class="menu w-60">
          <li class="mt-8 bg-white mb-0.5"><a href="/Settings">Account</a></li>
          <li class="bg-white mb-0.5"><a href="/SetPass">Password</a></li>
          <li class="bg-white mb-0.5"><a href="/SetBil">Billing</a></li>
        </ul>
      </div>
    <div class="ml-64">
      <h1 class="ml-3 font-extrabold text-3xl">Settings</h1>
      <label for="SetPass" class="btn btn-sm btn-circle absolute right-6 top-6">x</label>
      <hr class="bg-lime-800 mt-2">
    </div>

    <div class="ml-64">
      <div class="ml-3 mt-3">
        <h1 class="font-bold text-xl mb-2">Account</h1>
        <div class="row">
          <div class="form-control float-left">
            <label class="label w-14">
                <span class="label-text">Name</span>
            </label>
            <input type="text" placeholder="Name" class="input input-bordered h-14 w-80"/>
          
          </div>
          <div class="form-control float-left ml-6">
            <label class="label w-14">
              <span class="label-text">Surname</span>
            </label>
            <input type="text" placeholder="Surname" class="input input-bordered h-14 w-80">
          </div>
          <div class="row">
            <div class="form-control float-left mt-2">
              <label class="label w-24">
                  <span class="label-text">Birth date</span>
              </label>
              <input type="text" placeholder="00/00/00" class="input input-bordered h-14 w-80"/>
            
            </div>
            <div class="form-control float-left ml-6 mt-2">
              <label class="label w-24">
                <span class="label-text">Email address</span>
              </label>
              <input type="text" placeholder="Email address" class="input input-bordered h-14 w-80">
            </div>
            <div class="row">
              <div class="form-control float-left mt-2 mb-10">
                <label class="label w-24">
                    <span class="label-text">Country</span>
                </label>
                <input type="text" placeholder="Country" class="input input-bordered h-14 w-80"/>
              
              </div>
              <div class="form-control float-left ml-6 mt-2 mb-10">
                <label class="label w-24">
                  <span class="label-text">Address</span>
                </label>
                <input type="text" placeholder="Address" class="input input-bordered h-14 w-80">
              </div>
        </div>
          <div class="form-control m-auto w-56">
            <button class="btn btn-primary">Save editions</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>