<div class="card w-full max-w-sm bg-base-100 shadow-xl mx-auto my-auto flex flex-row justify-between">
    <div class="flex flex-row ">      
        <div class="avatar column">
            <div class="w-24 rounded text-left">
                <img src="" />
            </div>
        </div>
        <div class="my-auto ml-3">
            <div class="text text-xl column">Cabbages</div>
            <div class="text column">José António</div>
        </div>     
    </div>
    <div class="dropdown my-auto">
        <label tabindex="0" class="btn">0</label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>01</a></li>
            <li><a>02</a></li>
            <li><a>03</a></li>
            <li><a>04</a></li>
            <li><a>05</a></li>
        </ul>
    </div>
    <div class="text text-xl my-auto">7.5€</div>
    <div class="text text-xl my-auto">x</div>
</div>