<>
    <input type="checkbox" id="my-modal" class="modal-toggle" />
    <div class="modal">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <label for="my-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <div class="card-body">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Name</span>
                    </label>
                    <input
                        type="text"
                        placeholder="name"
                        class="input input-bordered"
                    />
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Email</span>
                    </label>
                    <input
                        type="text"
                        placeholder="email"
                        class="input input-bordered"
                    />
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input
                        type="text"
                        placeholder="password"
                        class="input input-bordered"
                    />
                </div>
                <div class="form-control mt-6">
                    <button class="btn btn-primary">Create Account</button>
                </div>
            </div>
        </div>
    </div>
</>
