<div class="navbar bg-transparent px-8 fixed text-white h-20">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg
                    xmlns="/icons/farmly_white.svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16"></path>
                </svg>
            </label>
            <ul
                tabindex="0"
                class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-300 rounded-box w-52"
            >
                <li><a href="/explore">Explore</a></li>
                <li><a>About us</a></li>
            </ul>
        </div>
        <img src="/icons/farmly_white.svg" alt="" class="h-20">
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li class="px-2"><a href="/explore">Explore</a></li>
            <li class="px-2"><a>About us</a></li>
        </ul>
    </div>
    <div class="navbar-end">
        <a class="btn btn-primary text-white">For vendors</a>
    </div>
</div>
